<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>488552860635-onahjot24glasl0g0ps38qtdn4o10si7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488552860635-onahjot24glasl0g0ps38qtdn4o10si7</string>
	<key>API_KEY</key>
	<string>AIzaSyArQK5cP6UHVPkd2t-CceVyCrAEJ0h3t_0</string>
	<key>GCM_SENDER_ID</key>
	<string>488552860635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iturbide.Argonaut</string>
	<key>PROJECT_ID</key>
	<string>argonaut-app</string>
	<key>STORAGE_BUCKET</key>
	<string>argonaut-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
	<key>GOOGLE_APP_ID</key>
	<string>1:488552860635:ios:0a727735349c3a1d</string>
	<key>DATABASE_URL</key>
	<string>https://argonaut-app.firebaseio.com</string>
</dict>
</plist>
